datium-container.STYLE_INSTANCE, datium-container.STYLE_INSTANCE * {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	cursor: default;
}

.STYLE_INSTANCE datium-all-pickers-container {
	display: block;
	position: relative;
	transition: .4s ease all;
    overflow: hidden;
    background: SECONDARY;
}

.STYLE_INSTANCE datium-picker-container {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
    bottom: 0;
    top: 0;
	transition: .4s ease all;
	transform-origin: 150px 150px;
}

.STYLE_INSTANCE datium-picker-container.datium-transition-in {
	opacity: 0;
	transform: scale(.8);
}

.STYLE_INSTANCE datium-picker-container.datium-transition-out {
	opacity: 0;
	transform: scale(1.2);
}

.STYLE_INSTANCE datium-picker-container.datium-transition-left {
    transform: translateX(-100%);
}

.STYLE_INSTANCE datium-picker-container.datium-transition-right {
    transform: translateX(100%);
}

datium-container.STYLE_INSTANCE {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 4px;
    display: block;
    width: 300px;
    position: absolute;
    border-radius: 2px;
    transition: all ease .4s;
    overflow: hidden;
    transform-origin: 20px -4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 1px 1px -1px SECONDARY_TEXT;
    -webkit-transform: translate3d(0,0,0);
}

datium-modal-background.STYLE_INSTANCE {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(100,100,100,.7);
    opacity: 0;
    pointer-events: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    transition: all ease .4s;
}

datium-modal-background.STYLE_INSTANCE.datium-showing {
    opacity: 1;
    cursor: default;
    pointer-events: auto;
}

datium-container.STYLE_INSTANCE.datium-modal {
    position: fixed;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -175px;
}

datium-container.STYLE_INSTANCE.datium-closed {
    opacity: 0;
    pointer-events: none;
    transform: scale(.9) translateY(-6px);    
}

datium-container.STYLE_INSTANCE.datium-closed datium-all-pickers-container {
    height: 0 !important;
}

datium-container.STYLE_INSTANCE.datium-landscape-view.datium-modal {
    left: 50%;
    margin-left: -240px;
    top: 50%;
    margin-top: -135px;
    transform-origin: 240px 135px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view {
    width: 480px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view datium-all-pickers-container {
    width: 290px;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-header {
    height: 100%;
    position: absolute;
    width: 190px;
    margin-left: 290px;
    border-top-right-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 2px;
    box-shadow: inset 0 1px 1px -1px PRIMARY_TEXT;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-next-view,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-previous-view {
    width: 50%;
    height: 50px;
    transform-origin: 47px 25px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view datium-next-view:before,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-next-view:after,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-previous-view:before,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-previous-view:after {
    top: 23px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view datium-span-labels {
    padding-left: 18px;
    padding-right: 18px;
    left: 0;
    right: 0;
    height: 90px;
    top: auto;
    bottom: 50px;
    box-shadow: inset 0 -1px 1px -1px PRIMARY_TEXT;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-span-label {
    white-space: default;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-month-element {
    width: 23%;
}