datium-container.STYLE_INSTANCE, datium-container.STYLE_INSTANCE * {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	cursor: default;
}

datium-container.STYLE_INSTANCE.datium-no-transition, datium-container.STYLE_INSTANCE.datium-no-transition * {
    transition: none !important;
}

.STYLE_INSTANCE datium-all-pickers-container {
	display: block;
	position: relative;
	transition: .4s ease all;
    overflow: hidden;
    background: SECONDARY;
}

.STYLE_INSTANCE datium-picker-container {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
    bottom: 0;
    top: 0;
	transition: .4s ease all;
	transform-origin: 150px 150px;
}

.STYLE_INSTANCE datium-picker-container.datium-transition-in {
	opacity: 0;
	transform: scale(.8);
}

.STYLE_INSTANCE datium-picker-container.datium-transition-out {
	opacity: 0;
	transform: scale(1.2);
}

.STYLE_INSTANCE datium-picker-container.datium-transition-left {
    transform: translateX(-100%);
}

.STYLE_INSTANCE datium-picker-container.datium-transition-right {
    transform: translateX(100%);
}

datium-container.STYLE_INSTANCE {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 2px;
    display: block;
    width: 300px;
    position: absolute;
    border-radius: 2px;
    transition: all ease .4s;
    overflow: hidden;
    transform-origin: 20px -4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 1px 1px -1px SECONDARY_TEXT;
    -webkit-transform: translate3d(0,0,0);
}

datium-modal-background.STYLE_INSTANCE {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(100,100,100,.7);
    opacity: 0;
    pointer-events: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    transition: all ease .4s;
}

datium-modal-background.STYLE_INSTANCE.datium-showing {
    opacity: 1;
    cursor: default;
    pointer-events: auto;
}

datium-container.STYLE_INSTANCE.datium-modal {
    position: fixed;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -175px;
}

datium-container.STYLE_INSTANCE.datium-closed {
    opacity: 0;
    pointer-events: none;
    transform: scale(.9) translateY(-6px);    
}

datium-container.STYLE_INSTANCE.datium-closed datium-all-pickers-container {
    height: 0 !important;
}

datium-container.STYLE_INSTANCE.datium-landscape-view.datium-modal {
    left: 50%;
    margin-left: -240px;
    top: 50%;
    margin-top: -135px;
    transform-origin: 240px 135px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view {
    width: 480px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view datium-all-pickers-container {
    width: 290px;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-header {
    height: 100%;
    position: absolute;
    width: 190px;
    margin-left: 290px;
    border-top-right-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 2px;
    box-shadow: inset 0 1px 1px -1px PRIMARY_TEXT;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-next-view,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-previous-view {
    width: 50%;
    height: 50px;
    transform-origin: 47px 25px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view datium-next-view:before,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-next-view:after,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-previous-view:before,
datium-container.STYLE_INSTANCE.datium-landscape-view datium-previous-view:after {
    top: 23px;
}

datium-container.STYLE_INSTANCE.datium-landscape-view datium-span-labels {
    padding-left: 18px;
    padding-right: 18px;
    left: 0;
    right: 0;
    height: 90px;
    top: auto;
    bottom: 50px;
    box-shadow: inset 0 -1px 1px -1px PRIMARY_TEXT;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-span-label {
    white-space: default;
}
datium-container.STYLE_INSTANCE.datium-landscape-view datium-month-element {
    width: 23%;
}

/* FOR SMALL PICKER */
datium-container.STYLE_INSTANCE.datium-small {
    width: 210px;
}

.STYLE_INSTANCE.datium-small datium-header {
  height: 52px;
}
.STYLE_INSTANCE.datium-small datium-next-view,
.STYLE_INSTANCE.datium-small datium-previous-view {
  width: 30px;
  height: 52px;
  transform-origin: 15px 34px;
}
.STYLE_INSTANCE.datium-small datium-next-view:after,
.STYLE_INSTANCE.datium-small datium-next-view:before,
.STYLE_INSTANCE.datium-small datium-previous-view:after,
.STYLE_INSTANCE.datium-small datium-previous-view:before {
  top: 34px;
  width: 2px;
  height: 6px;
}

.STYLE_INSTANCE.datium-small datium-picker-container {
	transform-origin: 105px 105px;
}

.STYLE_INSTANCE.datium-small datium-next-view:before,
.STYLE_INSTANCE.datium-small datium-previous-view:before {
  margin-top: -3px;
}



.STYLE_INSTANCE.datium-small datium-span-labels {
  left: 30px;
  right: 30px;
}
.STYLE_INSTANCE.datium-small datium-span-label {
  font-size: 15pt;
}

.STYLE_INSTANCE.datium-small datium-span-label.datium-top {
  transform: translateY(8px) scale(0.66);
  width: 151%;
}
.STYLE_INSTANCE.datium-small datium-span-label.datium-hidden-top {
  transform: translateY(-5px) scale(0.5);
}
.STYLE_INSTANCE.datium-small datium-span-label.datium-bottom {
  transform: translateY(23px) scale(1);
}
.STYLE_INSTANCE.datium-small datium-span-label.datium-hidden-bottom {
  transform: translateY(52px) scale(1.2);
}
.STYLE_INSTANCE.datium-small datium-span-label datium-changing-label {
  padding: 0 3px;
  top: -1px;
  font-size: 13pt;
}
.STYLE_INSTANCE.datium-small datium-zoom-out-icon {
  transform: scale(.9) translate(-2px, 2px);
}
.STYLE_INSTANCE.datium-small datium-day-element {
    font-size: 11pt;
    line-height: 24px;
}
.STYLE_INSTANCE.datium-small .datium-current-selection:after {
  margin-top: 9px;
}
.STYLE_INSTANCE.datium-small datium-month-element,
.STYLE_INSTANCE.datium-small datium-year-element {
    line-height: 40px;
}

.STYLE_INSTANCE.datium-small datium-clock {
  top: 105px;
  margin-left: -60px;
  margin-top: -60px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
}
.STYLE_INSTANCE.datium-small datium-time-drag {
  height: 60px;
}
.STYLE_INSTANCE.datium-small datium-clock datium-meridiem-switcher {
    margin-top: 6px;
}
.STYLE_INSTANCE.datium-small datium-hour-hand {
  border-top: 25px solid SECONDARY_ACCENT;
}
.STYLE_INSTANCE.datium-small datium-minute-hand {
  border-top: 35px solid SECONDARY_ACCENT;
}
.STYLE_INSTANCE.datium-small datium-second-hand {
  border-top: 45px solid SECONDARY_ACCENT;
}
.STYLE_INSTANCE.datium-small .datium-year-view .datium-current-selection:after {
  width: 34px;
  margin-left: -16px;
}
.STYLE_INSTANCE.datium-small .datium-month-view .datium-current-selection:after {
  width: 24px;
  margin-left: -12px;
}
.STYLE_INSTANCE.datium-small .datium-day-view .datium-current-selection:after {
  width: 16px;
  margin-left: -8px;
}

.STYLE_INSTANCE.datium-small [datium-data]:not(.datium-day-inactive):active > datium-bubble {
  transition: .3s cubic-bezier(1.000, -0.600, 1.000, -0.600) opacity !important;
}