<datium-header>
	<datium-next-view></datium-next-view>
	<datium-span-label class='datium-decade-label datium-top datium-hidden-top'>
		<datium-label-text></datium-label-text>
		<datium-extended-label-text></datium-extended-label-text>
		<datium-zoom-out-icon>
		</datium-zoom-out-icon>
	</datium-span-label>
	<datium-span-label class='datium-year-label datium-top datium-hidden-top'>
		<datium-label-text></datium-label-text>
		<datium-extended-label-text></datium-extended-label-text>
		<datium-zoom-out-icon>
		</datium-zoom-out-icon>
	</datium-span-label>
	<datium-span-label class='datium-month-label datium-top datium-hidden-top'>
		<datium-label-text></datium-label-text>
		<datium-extended-label-text></datium-extended-label-text>
		<datium-zoom-out-icon>
		</datium-zoom-out-icon>
	</datium-span-label>
	<datium-span-label class='datium-day-label datium-top datium-hidden-top'>
		<datium-label-text></datium-label-text>
		<datium-extended-label-text></datium-extended-label-text>
		<datium-zoom-out-icon>
		</datium-zoom-out-icon>
	</datium-span-label>
	<datium-span-label class='datium-hour-label datium-top datium-hidden-top'>
		<datium-label-text></datium-label-text>
		<datium-extended-label-text></datium-extended-label-text>
		<datium-zoom-out-icon>
		</datium-zoom-out-icon>
	</datium-span-label>
	<datium-span-label class='datium-minute-label datium-top datium-hidden-top'>
		<datium-label-text></datium-label-text>
		<datium-extended-label-text></datium-extended-label-text>
		<datium-zoom-out-icon>
		</datium-zoom-out-icon>
	</datium-span-label>
	<datium-previous-view></datium-previous-view>
</datium-header>
<datium-year-view></datium-year-view>
<datium-month-view></datium-month-view>
<datium-day-view></datium-day-view>
<datium-hour-view></datium-hour-view>
<datium-minute-view></datium-minute-view>
<datium-second-view></datium-second-view>
<!--
<dm-datium>
	<dm-header>
	<dm-next-view></dm-next-view>
	<dm-encapsulating-view>
		2010 - 2020
	</dm-encapsulating-view>
	<dm-current-view>
		2015
	</dm-current-view>
	<dm-prev-view></dm-prev-view>
	</dm-header>
	<dm-month-view>
	<dm-month></dm-month>
	</dm-month-view>
</dm-datium>

<dm-datium>
	<dm-header>
	<dm-next-view></dm-next-view>
	<dm-encapsulating-view>
		2015
	</dm-encapsulating-view>
	<dm-current-view>
		December
	</dm-current-view>
	<dm-prev-view></dm-prev-view>
	</dm-header>
	<dm-day-view>
	<dm-month-header>Su</dm-month-header>
	<dm-month-header>Mo</dm-month-header>
	<dm-month-header>Tu</dm-month-header>
	<dm-month-header>We</dm-month-header>
	<dm-month-header>Th</dm-month-header>
	<dm-month-header>Fr</dm-month-header>
	<dm-month-header>Sa</dm-month-header>
	<dm-other-month>29</dm-other-month>
	<dm-other-month>30</dm-other-month>
	<dm-current-month>1</dm-current-month>
	<dm-current-month>2</dm-current-month>
	<dm-current-month>3</dm-current-month>
	<dm-current-month>4</dm-current-month>
	<dm-current-month>5</dm-current-month>
	<dm-current-month>6</dm-current-month>
	<dm-current-month>7</dm-current-month>
	<dm-current-month>8</dm-current-month>
	<dm-current-month>9</dm-current-month>
	<dm-current-month>10</dm-current-month>
	<dm-current-month>11</dm-current-month>
	<dm-current-month>12</dm-current-month>
	<dm-current-month>13</dm-current-month>
	<dm-current-month>14</dm-current-month>
	<dm-current-month>15</dm-current-month>
	<dm-current-month>16</dm-current-month>
	<dm-current-month>17</dm-current-month>
	<dm-current-month>18</dm-current-month>
	<dm-current-month>19</dm-current-month>
	<dm-current-month>20</dm-current-month>
	<dm-current-month>21</dm-current-month>
	<dm-current-month>22</dm-current-month>
	<dm-current-month>23</dm-current-month>
	<dm-current-month>24</dm-current-month>
	<dm-current-month>25</dm-current-month>
	<dm-current-month>26</dm-current-month>
	<dm-current-month>27</dm-current-month>
	<dm-current-month>28</dm-current-month>
	<dm-current-month>29</dm-current-month>
	<dm-current-month>30</dm-current-month>
	<dm-current-month>31</dm-current-month>
	<dm-other-month>1</dm-other-month>
	<dm-other-month>2</dm-other-month>
	</dm-month-view>
</dm-datium>
	
<dm-datium>
	<dm-header>
	<dm-next-view></dm-next-view>
	<dm-encapsulating-view>
		December 2015
	</dm-encapsulating-view>
	<dm-current-view>
		Wed 08
	</dm-current-view>
	<dm-prev-view></dm-prev-view>
	</dm-header>
	<dm-hour-view>
	<dm-clock>
		<dm-tick time=1></dm-tick>
		<dm-tick time=2></dm-tick>
		<dm-tick time=3></dm-tick>
		<dm-tick time=4></dm-tick>
		<dm-tick time=5></dm-tick>
		<dm-tick time=6></dm-tick>
		<dm-tick time=7></dm-tick>
		<dm-tick time=8></dm-tick>
		<dm-tick time=9></dm-tick>
		<dm-tick time=10></dm-tick>
		<dm-tick time=11></dm-tick>
		<dm-tick time=12></dm-tick>
		<dm-hour-hand time=1></dm-hour-hand>
		<dm-clock-middle>PM</dm-clock-middle>
		<dm-pick>2pm</dm-pick>
		<dm-time-drag>
		<dm-time-drag-arrows></dm-time-drag-arrows>
		</dm-time-drag>
	</dm-clock>
	</dm-hour-view>
</dm-datium> 

<dm-datium>
	<dm-header>
	<dm-next-view></dm-next-view>
	<dm-encapsulating-view>
		08 December 2015
	</dm-encapsulating-view>
	<dm-current-view>
		2PM
	</dm-current-view>
	<dm-prev-view></dm-prev-view>
	</dm-header>
	<dm-minute-view>
	<dm-clock>
		<dm-tick time=1></dm-tick>
		<dm-tick time=2></dm-tick>
		<dm-tick time=3></dm-tick>
		<dm-tick time=4></dm-tick>
		<dm-tick time=5></dm-tick>
		<dm-tick time=6></dm-tick>
		<dm-tick time=7></dm-tick>
		<dm-tick time=8></dm-tick>
		<dm-tick time=9></dm-tick>
		<dm-tick time=10></dm-tick>
		<dm-tick time=11></dm-tick>
		<dm-tick time=12></dm-tick>
		<dm-hour-hand></dm-hour-hand>
		<dm-minute-hand></dm-minute-hand>
		<dm-clock-middle></dm-clock-middle>
		<dm-pick>05m</dm-pick>
		<dm-time-drag>
		<dm-time-drag-arrows></dm-time-drag-arrows>
		</dm-time-drag>
	</dm-clock>
	</dm-mintute-view>
</dm-datium>


<dm-datium>
	<dm-header>
	<dm-next-view></dm-next-view>
	<dm-encapsulating-view>
		2PM 08 December 2015
	</dm-encapsulating-view>
	<dm-current-view>
		2:05PM
	</dm-current-view>
	<dm-prev-view></dm-prev-view>
	</dm-header>
	<dm-second-view>
	<dm-clock>
		<dm-tick time=1></dm-tick>
		<dm-tick time=2></dm-tick>
		<dm-tick time=3></dm-tick>
		<dm-tick time=4></dm-tick>
		<dm-tick time=5></dm-tick>
		<dm-tick time=6></dm-tick>
		<dm-tick time=7></dm-tick>
		<dm-tick time=8></dm-tick>
		<dm-tick time=9></dm-tick>
		<dm-tick time=10></dm-tick>
		<dm-tick time=11></dm-tick>
		<dm-tick time=12></dm-tick>
		<dm-hour-hand></dm-hour-hand>
		<dm-minute-hand></dm-minute-hand>
		<dm-second-hand></dm-second-hand>
		<dm-clock-middle></dm-clock-middle>
		<dm-pick>50s</dm-pick>
		<dm-time-drag>
		<dm-time-drag-arrows></dm-time-drag-arrows>
		</dm-time-drag>
	</dm-clock>
	</dm-second-view>
</dm-datium>
-->