@import '../common/palette.less';

datium-day-element {
	width: 14.2857143%;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	position: relative;
	color: @secondary-text;
	font-size: 12pt;
	&.datium-day-inactive, &.datium-weekday-label {
		opacity: .6;
	}
	&.datium-weekday-label {
		font-weight: bold;
	}
}

datium-month-element, datium-year-element {
    display: inline-block;
    width: 24%;
    line-height: 60px;
    text-align: center;
    color: @secondary-text;
}

datium-clock {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	box-shadow: inset 0 0 1px 0px @secondary-text;
    
    datium-clock-middle {
        position: absolute;
        width: 36px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: @primary;
        border-radius: 20px;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        border: 2px solid white;
        z-index: 1;
        background: @secondary;
        line-height: 36px;
        box-shadow: inset 0 0 0 3px @primary;	
    }
    
    datium-tick {
        display: block;
        position: absolute;
        width: 0;
        height: 50%;
        top: 50%;
        left: 50%;
        transform-origin: 0 0;
    }
    
    datium-tick-mark {
        content: '';
        position: absolute;
        width: 2px;
        left: -1px;
        height: 6px;
        opacity: .3;
        background: @secondary-text;
        bottom: -3px;        
    }
    
    datium-tick-label {
        position: absolute;
        bottom: -30px;
        width: 50px;
        left: -25px;
        text-align: center;
        font-size: 12px;
        line-height: 50px;
        opacity: .8;
        color: @secondary-text;
        margin-bottom: -20px;
        border-radius: 25px;
    }
    
    datium-time-drag {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100px;
        width: 0;
        transform-origin: 0 0;
        z-index: 1;
        transform: rotate(180deg);
        transition: .4s ease all;
    }
    
    datium-time-drag.datium-is-dragging {
        transition: none;
    }
    
    datium-time-drag:before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: -9px;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 2px solid @primary;
        box-shadow: inset 0 0 0 2px @secondary;
        background: @primary;
    }
    
    datium-drag-selection-area {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        bottom: -25px;
        left: -25px;
        z-index: 1;
    }

    datium-time-drag-arrows {
        position: absolute;
        width: 22px;
        left: -11px;
        bottom: 0;
    }

    datium-time-drag-arrows:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-right-color: @primary;
        top: -5px;
        left: -8px;
    }

    datium-time-drag-arrows:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-left-color: @primary;
        top: -5px;
        right: -8px;
    }
    
    datium-pick {
        position: absolute;
        color: @primary;
        text-transform: uppercase;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
        top: 130px;
        font-size: 12pt;
        text-shadow:
        -2px -2px 0 @secondary,
        2px -2px 0 @secondary,
        -2px 2px 0 @secondary,
        2px 2px 0 @secondary; 
        z-index: 1;
    }
    
    datium-hour-hand {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 40%;
        top: 50%;
        left: 50%;
        margin-left: -3px;
        margin-top: -3px;
        transform-origin: 3px 3px;	
        transform: rotate(240deg);
        border-top: 50px solid @primary;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        transition: all ease .4s;
    }

}