@import '../common/palette.less';

datium-day-element {
	width: 14.2857143%;
	display: inline-block;
	line-height: 37px;
	text-align: center;
	position: relative;
	color: @secondary-text;
	font-size: 12pt;
    transition: .3s all ease;
	&.datium-day-inactive, &.datium-weekday-label {
		opacity: .6;
	}
	&.datium-weekday-label {
		font-weight: bold;
	}
    &.datium-day-selectable:active {
        transform: scale(.9);
        opacity: .9;
        transition: none;
    }
}

datium-month-element, datium-year-element {
    display: inline-block;
    width: 24%;
    line-height: 60px;
    text-align: center;
    color: @secondary-text;
    transition: .3s all ease;    
    &:active {
        transform: scale(.9);
        opacity: .9;
        transition: none;
    }
}


    


.datium-minute-view datium-hour-hand,
.datium-second-view datium-hour-hand {
    border-top-color: @secondary-text;
    opacity: .3;
}

.datium-second-view datium-minute-hand {
    border-top-color: @secondary-text;
    opacity: .3;
}

.datium-hour-view datium-minute-hand,
.datium-hour-view datium-second-hand,
.datium-minute-view datium-second-hand {
    display: none;
}

.datium-minute-view datium-meridiem-switcher,
.datium-second-view datium-meridiem-switcher {
    display: none;
}

@clock-radius: 80px;

datium-clock {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -@clock-radius;
	margin-top: -@clock-radius;
	display: block;
	width: 2 * @clock-radius;
	height: 2 * @clock-radius;
	border-radius: @clock-radius;
	box-shadow: inset 0 0 1px 0px @secondary-text;
    
    datium-clock-middle {
        z-index: 1;
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        top: 50%;
        left: 50%;
        margin-left: -6px;
        margin-top: -6px;
        border: 2px solid white;
        background: @secondary;
        box-shadow: inset 0 0 0 2px @primary;	
    }
    
    datium-tick {
        display: block;
        position: absolute;
        width: 0;
        height: 50%;
        top: 50%;
        left: 50%;
        transform-origin: 0 0;
    }
    
    datium-tick-mark {
        content: '';
        position: absolute;
        width: 2px;
        left: -1px;
        height: 6px;
        opacity: .3;
        background: @secondary-text;
        bottom: -3px;        
    }
    
    datium-tick-label {
        position: absolute;
        bottom: -30px;
        width: 50px;
        left: -25px;
        text-align: center;
        font-size: 10pt;
        height: 50px;
        opacity: 1;
        color: @secondary-text;
        margin-bottom: -20px;
        border-radius: 25px;
        datium-span {
            transition: .2s ease all;
            position: absolute;
            line-height: 50px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        &:active > datium-span {
            transform: scale(.8);
            transition: none;
            opacity: .8;
        }
    }
    
    datium-time-drag {
        position: absolute;
        left: 50%;
        top: 50%;
        height: @clock-radius;
        width: 0;
        transform-origin: 0 0;
        z-index: 1;
        transform: rotate(180deg);
        transition: .4s ease all;
    }
    
    
    datium-time-drag:before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: -9px;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 2px solid @primary;
        box-shadow: inset 0 0 0 2px @secondary;
        background: @primary;
        transition: .3s ease all;
    }
    
    datium-time-drag:active:before {
        box-shadow: inset 0 0 0 3px @secondary;
        transition: none;
    }
    
    datium-drag-selection-area {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        bottom: -25px;
        left: -25px;
        z-index: 1;
    }

    datium-time-drag-arrows {
        position: absolute;
        width: 22px;
        left: -11px;
        bottom: 0;
    }

    datium-time-drag-arrows:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-right-color: @primary;
        top: -5px;
        left: -8px;
    }

    datium-time-drag-arrows:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-left-color: @primary;
        top: -5px;
        right: -8px;
    }
    
    datium-hour-hand {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 40%;
        top: 50%;
        left: 50%;
        margin-left: -3px;
        margin-top: -3px;
        transform-origin: 3px 3px;	
        transform: rotate(240deg);
        border-top: (@clock-radius * .4) solid @primary;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
    }
    
    datium-minute-hand {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 40%;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -2px;
        transform-origin: 2px 2px;
        border-top: (@clock-radius * .6) solid @primary;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
    }
    
    datium-second-hand {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 40%;
        top: 50%;
        left: 50%;
        margin-left: -1px;
        margin-top: -1px;
        transform-origin: 1px 1px;	
        transform: rotate(120deg);
        border-top: (@clock-radius * .8) solid @primary;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    
    datium-time-bubble {
        position: absolute;
        width: 56px;
        height: 30px;
        bottom: 26px;
        left: -28px;
        text-align: center;
        line-height: 30px;
        border-radius: 2px;
        font-size: 12pt;
        font-weight: bold;
        background: @primary;
        color: @primary-text;
        transform-origin: 28px 56px;
        pointer-events: none;
        opacity: 0;
        box-shadow: 0 0 1px 0 @secondary;
        transition: .4s ease opacity;
    }
    
    datium-time-bubble:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-top-color: @primary;
        left: 50%;
        margin-left: -10px;
        top: 29px;
    }
    
    datium-meridiem-switcher {
        position: absolute;
        width: 80px;
        height: 40px;
        left: 50%;
        margin-left: -40px;
        top: 50%;
        margin-top: @clock-radius - 60px;
        &:after, &:before {
            position: absolute;
            width: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 12pt;
            font-weight: bold;
            color: @secondary-text;
            opacity: .6;  
            transition: all ease .2s;
            text-shadow:
            -1px -1px 0 @secondary,
            1px -1px 0 @secondary,
            -1px 1px 0 @secondary,
            1px 1px 0 @secondary; 
        }
        
        &:before {
            content: 'AM';
            left: 0;
        }
        
        &:after {
            content: 'PM';
            right: 0;
        }
    }
    
    datium-meridiem-switcher.datium-am {
        &:before {
            color: @primary;
            opacity: 1;
        }        
    }
    
    datium-meridiem-switcher.datium-pm {
        &:after {
            color: @primary;
            opacity: 1;
        }
    }
}

datium-container.datium-is-dragging {    
    datium-time-drag {
        transition: none;
    }    
    
    datium-time-drag datium-time-bubble {
        opacity: 1;
    }
    
    overflow: visible !important;
    
    datium-all-pickers-container {
        overflow: visible !important;
    }
}