datium-container._id {
    display: block;
    position: absolute;
    border-radius: 3px;
    width: 280px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: Roboto;
    
    &, & * {
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        cursor: default;   
    }
}