@import 'global.less';
datium-container._id {
    datium-picker-container-wrapper {
        overflow: hidden;
        position: absolute;
        left: -@wrap-overflow;
        right: -@wrap-overflow;
        top: 80px;
        height: 270px;
        display: block;
        pointer-events: none;
    }
    
    datium-picker-container {
        position: relative;
        width: calc(100% ~"-" 2 * @wrap-overflow);
        height: 260px;
        background-color: _secondary;
        display: block;
        margin: @wrap-overflow;
        margin-top: 0;
        padding-top: 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transform: translateY(-270px);
        pointer-events: auto;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        transition: all ease .4s;
        transition-delay: .1s;
        overflow: hidden;
    }
    
    datium-picker {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: _secondary_text;
        transition: all ease .4s;
    }
    
    datium-picker.datium-picker-left {
        transform: translateX(-100%) scale(1);
        pointer-events: none;
        transition-delay: 0s;
    }
    
    datium-picker.datium-picker-right {
        transform: translateX(100%) scale(1);
        pointer-events: none;
        transition-delay: 0s;
    }
    
    datium-picker.datium-picker-out {
        transform: translateX(0) scale(1.4);
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
    }
    
    datium-picker.datium-picker-in {
        transform: translateX(0) scale(.6);
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
    }
    
    datium-year-element, datium-month-element {
        display: inline-block;
        width: 25%;
        line-height: 60px;
        text-align: center;
        position: relative;
        transition: .2s ease all;
        &.datium-selected:after {
            content: '';
            position: absolute;
            left: 20px;
            right: 20px;
            top: 50%;
            margin-top: 11px;
            height: 2px;
            display: block;
            background-color: _secondary_accent;
        }
        &.datium-active {
            transform: scale(.9);
            transition: none;
        }
    }
    datium-month-element.datium-selected:after {
        left: 25px;
        right: 25px;
    }
    
    datium-date-header {
        display: inline-block;
        width: 40px;
        line-height: 28px;
        opacity: .6;
        font-weight: bold;
        text-align: center;
    }
    
    datium-date-element {
        display: inline-block;
        width: 40px;
        line-height: 36px;
        text-align: center;
        position: relative;
        transition: .2s ease all;
        &.datium-selected:after {
            content: '';
            position: absolute;
            left: 12px;
            right: 12px;
            top: 50%;
            margin-top: 10px;
            height: 2px;
            display: block;
            background-color: _secondary_accent;
        }
        &.datium-active {
            transform: scale(.9);
            transition: none;
        }
        &:not([datium-data]) {
            opacity: .6;
            pointer-events: none;
        }
    }
}