@import 'global.less';
datium-container._id {
    datium-picker-container-wrapper {
        overflow: hidden;
        position: absolute;
        left: -@wrap-overflow;
        right: -@wrap-overflow;
        top: 80px;
        height: 270px;
        display: block;
        pointer-events: none;
    }
    
    datium-picker-container {
        position: relative;
        width: calc(100% ~"-" 2 * @wrap-overflow);
        height: 260px;
        background-color: _secondary;
        display: block;
        margin: @wrap-overflow;
        margin-top: 0;
        padding-top: 20px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transform: translateY(-270px);
        pointer-events: auto;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        transition: all ease .2s;
        overflow: hidden;
    }
    
    datium-picker {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        color: _secondary_text;
        transition: all ease .2s;
    }
    
    @transition-time: .3s;
    
    datium-picker.datium-to-left {
        animation: datiumToLeft @transition-time 1 ease forwards;
        pointer-events: none;
    }
    
    datium-picker.datium-from-left {
        animation: datiumFromLeft @transition-time 1 ease forwards;
        transform: translateX(-100%);
    }
    
    datium-picker.datium-to-right {
        animation: datiumToRight @transition-time 1 ease forwards;
        pointer-events: none;
    }
    
    datium-picker.datium-from-right {
        animation: datiumFromRight @transition-time 1 ease forwards;
        transform: translateX(100%);
    }
    
    datium-picker.datium-to-in {
        animation: datiumToIn @transition-time 1 ease forwards;
        pointer-events: none;
    }
    
    datium-picker.datium-from-in {
        animation: datiumFromIn @transition-time 1 ease forwards;
        opacity: 0;
    }
    
    datium-picker.datium-to-out {
        animation: datiumToOut @transition-time 1 ease forwards;
        pointer-events: none;
    }
    
    datium-picker.datium-from-out {
        animation: datiumFromOut @transition-time 1 ease forwards;
        opacity: 0;
    }
    
    datium-picker.datium-dragging {
        transition: none;
    }
    
    datium-year-element, datium-month-element {
        display: inline-block;
        width: 25%;
        line-height: 60px;
        text-align: center;
        position: relative;
        transition: .2s ease all;
        &.datium-selected:after {
            content: '';
            position: absolute;
            left: 20px;
            right: 20px;
            top: 50%;
            margin-top: 11px;
            height: 2px;
            display: block;
            background-color: _primary;
        }
        &.datium-active {
            transform: scale(.9);
            transition: none;
        }
    }
    datium-month-element.datium-selected:after {
        left: 25px;
        right: 25px;
    }
    
    datium-date-header {
        display: inline-block;
        width: 40px;
        line-height: 28px;
        opacity: .6;
        font-weight: bold;
        text-align: center;
    }
    
    datium-date-element {
        display: inline-block;
        width: 40px;
        line-height: 36px;
        text-align: center;
        position: relative;
        transition: .2s ease all;
        &.datium-selected:after {
            content: '';
            position: absolute;
            left: 12px;
            right: 12px;
            top: 50%;
            margin-top: 10px;
            height: 2px;
            display: block;
            background-color: _primary;
        }
        &.datium-active {
            transform: scale(.9);
            transition: none;
        }
        &:not([datium-data]) {
            opacity: .6;
            pointer-events: none;
        }
    }
}

@zoomed-in-scale: .7;
@zoomed-out-scale: 1.3;

@keyframes datiumToRight {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(100%);
    }
}
@keyframes datiumFromRight {
    from {
        transform: translate(-100%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes datiumToLeft {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}
@keyframes datiumFromLeft {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes datiumToIn {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(@zoomed-in-scale);
        opacity: 0;
    }
}
@keyframes datiumFromIn {
    from {
        transform: scale(@zoomed-in-scale);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes datiumToOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(@zoomed-out-scale);
        opacity: 0;
    }
}
@keyframes datiumFromOut {
    from {
        transform: scale(@zoomed-out-scale);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}