datium-container {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 1px 1px -1px SECONDARY_TEXT;
    background: SECONDARY;
}

datium-container.datium-portrait-view datium-header {
    box-shadow: inset 0 1px 1px -1px PRIMARY_TEXT;
}

datium-container.datium-portrait-view datium-span-labels {
    box-shadow: inset 0 -1px 1px -1px PRIMARY_TEXT;
}

datium-day-element {
    color: SECONDARY_TEXT;
}

datium-month-element, datium-year-element {
    color: SECONDARY_TEXT;
}

.datium-minute-view datium-hour-hand,
.datium-second-view datium-hour-hand {
    border-top-color: SECONDARY_TEXT;
}

.datium-second-view datium-minute-hand {
    border-top-color: SECONDARY_TEXT;
}

.datium-current-selection:after {
    background: SECONDARY_ACCENT;
}

datium-clock {
	box-shadow: inset 0 0 1px 0px SECONDARY_TEXT;
}

datium-clock datium-clock-middle {
    border: 2px solid SECONDARY;
    background: SECONDARY;
    box-shadow: inset 0 0 0 2px SECONDARY_ACCENT;
}

datium-clock datium-current-time:after {
    border-top-color: SECONDARY_ACCENT;
}

datium-clock datium-tick-mark {
    background: SECONDARY_TEXT;
}

datium-clock datium-tick-label {
    color: SECONDARY_TEXT;
}

datium-clock datium-time-drag:before {
    border: 2px solid SECONDARY_ACCENT;
    box-shadow: inset 0 0 0 2px SECONDARY;
    background: SECONDARY_ACCENT;
}

datium-clock datium-time-drag:active:before {
    box-shadow: inset 0 0 0 3px SECONDARY;
}

datium-clock datium-time-drag-arrows:before {
    border-right-color: SECONDARY_ACCENT;
}

datium-clock datium-time-drag-arrows:after {
    border-left-color: SECONDARY_ACCENT;
}

datium-clock datium-hour-hand {
    border-top: 32px solid SECONDARY_ACCENT;
}

datium-clock datium-minute-hand {
    border-top: 48px solid SECONDARY_ACCENT;
}

datium-clock datium-second-hand {
    border-top: 64px solid SECONDARY_ACCENT;
}

datium-clock datium-time-bubble {
    background: SECONDARY_ACCENT;
    color: SECONDARY;
    box-shadow: 0 0 1px 0 SECONDARY;
}

datium-clock datium-time-bubble:after {
    border-top-color: SECONDARY_ACCENT;
}

datium-clock.datium-am datium-meridiem-switcher:before {
    color: SECONDARY_ACCENT;
}

datium-clock.datium-pm datium-meridiem-switcher:after {
    color: SECONDARY_ACCENT;
}

datium-meridiem-switcher:after {
    color: SECONDARY_TEXT;
}

datium-meridiem-switcher:before {
    color: SECONDARY_TEXT;
}

datium-bubble {
    background: SECONDARY_ACCENT;
    color: SECONDARY;
    box-shadow: 0 0 1px 0 SECONDARY, 0 18px 8px -14px SECONDARY;
}

datium-bubble:before {
    border-top-color: SECONDARY_ACCENT;
}

datium-container datium-header {
    color: PRIMARY_TEXT;
    background: PRIMARY;
}

datium-next-view:after, datium-next-view:before, datium-previous-view:after, datium-previous-view:before {
    background: PRIMARY_TEXT;
}

datium-changing-label {
    background: PRIMARY_TEXT;
    color: PRIMARY;
}

datium-zoom-out-icon:before {
    border: 2px solid PRIMARY_TEXT;
}

datium-zoom-out-icon:after {
    background: PRIMARY_TEXT;
}

datium-zoom-out-minus-sign {
    background: PRIMARY_TEXT;
}